@font-face
{
	font-family: Diorite-BoldCursive;
  	src: url(./Diorite-BoldCursive.ttf);
}

.center-items
{
	text-align: center;
}

.flex-box
{
	height: 50px;
  	display: flex;
}

.nav-link
{
	font-family: Diorite-BoldCursive;
  
  	width: 33.33%;
  	text-align:center;

  	/*If borders around the links are enabled this stops the text from starting too high*/
  	padding-top:0.5%;
  	
}

#header
{
	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	background-color:#03dac6;
}

#header-img
{
	/*This resizes the logo*/
	width:26%;
	height: auto;
	/*This resizes the logo*/
	  
	/*This centers the logo*/
	margin-left:auto;
	margin-right:auto;
	display:block;
	/*This centers the logo*/
}

a:link 
{
	color: black;
  	text-decoration: none;
  	font-size: 2em;
  	overflow: hidden;
}

a:visited 
{
	color: black;
  	text-decoration: none;
}

a:hover 
{
	color: black;
	text-decoration: none;
}

a:active 
{
	color: black;
  	text-decoration: none;
}

body
{
	/*Stops nav bar from overlapping*/
  	padding-top: 50%;
}

@media (max-height: 800px)
{
	/*Note: this is a place holder as well as the max-width*/
  	#header-img
  	{
    	/*This resizes the image*/
    	width:20%;
    	height: auto;
    	/*This resizes the image*/
  	}
  
  	body
  	{
    	/*Stops nav bar from overlapping*/
    	padding-top: 25%;
  	}
}